body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e0e2e9;
  }
  /*titulo da pagina (cor,posição,fonte)*/
  h1 {
    text-align: center;
    color: #0d1432;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*formulario */
  form {
    margin-bottom: 20px;
  }
  /*tabela*/
  table {
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    border-collapse: collapse;
  }
  /*linha e nomes do cabeçalho*/
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  th{
  color:#0d1432;
  }
  tr{
  color:#0d1432;
  }
  .btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    float: right;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .btn-add {
    background-color: #0d1432;
    color:#cfd5e1;
    border: 0;
    border-radius: 20px;
    font-family: Arial 5;
  }
  
  .btn-add:hover {
    background-color:#cfd5e1;
    color: #0d1432;
  }
  label{
    color:#0d1432;

    }
  input{
    border-color: #fffffe;
    color:#0d1432 ;
    

  }
form{
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
  
}
